.banner{

    /* text-align: center; */
    background-size:cover;   
    height: 100vh;
    color: aliceblue;
    
}
.content{

    margin-left: 80px;
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;
}
.title{
    margin-top:230px;    
    /* margin-top: auto; */
    /* text-align: left; */
    font-size: 3rem;
    font-weight:800;
    padding-bottom: 0.3rem;
    max-width: 560px;
}
.button{
    
    color: aliceblue;
    outline: none;
    border: none;
    font-weight: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:rgba(51,51 ,51, .5) ;
    cursor: pointer;
    margin-right: 1rem;
}
.button:hover{
    color: black;
    background-color: aliceblue;

}
.description{

    /* text-align: center; */
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    height: 80px;
    max-width: 420px;
}
.fade{
    height: 7.4rem;
    background-image:linear-gradient(180deg,transparent,rgba(37,37,37,.61)#1111 ) ;

}

